// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #4c8f7e !default;
$header-bg-color-secondary: #7fb9b3 !default;

// Text
$section-headings-color: #4c8f7e !default;
$section-subheadings-color: #2f2f2f !default;
$body-text-color: #3c3c3c !default; //#606c71 !default;
$body-link-color: #e8b00a !default; //#7fb9b3 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

$navbar-color: $header-bg-color-secondary;
